*{
    padding:0px;
    margin:0px;
}
header{
    display: flex;
    background-color: black;
    height:40px;
   
}
header div{
    margin-left: 30px;
    margin-top: 10px;
    color: white; 
}
header div:hover{
    color: black;
    background-color:white
}
.search{
    margin-left: 540px;
}
.search:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(255, 125, 125)
}
.general-img{
    height: 500px;
    width: 1004px;
}
.location > p{
    color: white;
    font-size:25px;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    left: 290px;
    top:450px;
}
.location > strong{
    color: white;
    font-size:25px;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    left: 438px;
    top:400px;
}
.title > p{
    
    color: black;
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    margin-left: 400px;
}
#info-about-us{
    position: absolute;
    top: 600px;
    left: 0px;
}

.our-comment{
    margin-left: 400px!important;
    color: grey !important;
   font-size:20px;
}
.text-about-us p{

    color: black;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.photo-about-us{
    display: flex;
}
.photo-about-us-item p{
 color: black;
 font-size:15px;
 text-align: center;
 margin: 100px;
}
 .member{
width: 190px;
height: 200px;
margin-left: 25px;
position: absolute;
top: 370px;
   
}
 .photo-about-us-item{
    margin: 20px;
    margin-bottom: 10px;
}
.photo-about-us{
    display: flex;
}

.tour-dates-items{
    background-color:black !important;
    margin-top: 690px;
    height: 890px
}
.tour-dates-items>strong{
    color: white;
    font-size: 25px;
    text-align: center;
    margin:50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing:5px;
}
.tour-dates-items>p{
    color: grey;
    font-size: 15px;
    text-align: center;
    margin:50px;
    margin-top: 2px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dates{
    background-color:white;
    height:120px;
    margin: 100px;
    box-sizing: border-box;
    padding:3px;
}
.dates>p{
    
    margin:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.dates>pre{
    
    margin:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.dates>p::after{

    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 1490px;
  left: 100px;
  right: 0;
  height: 0.5em;
  width: 800px;
  border-top: 1px solid rgb(107, 107, 107);
  z-index: 3;
}
.dates>pre::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 1530px;
    left: 100px;
    right: 0;
    height: 0.5em;
    width: 800px;
    border-top: 1px solid rgb(107, 107, 107);
}
.dates>div{
    
    width: 80px;
    height: 30px;
    color: white;
}
.first-sold-out{
background-color:rgb(255, 102, 102);
position: relative;
top: -125px;
left: 120px;
box-sizing: border-box;
padding-top:5px;
padding-left:15px;
padding-right:5px;

}
.second-sold-out{
    background-color:rgb(255, 102, 102);
    position: relative;
    top: -111px;
    left: 120px;
    box-sizing: border-box;
    padding-top:5px;
    padding-left:15px;
    padding-right:5px;
    
    }
    .count{
        width: 30px !important;
        height: 30px !important;
     background-color:rgb(0, 0, 0);
    border-radius:25px;
    position: relative;
    top: -105px;
    left: 750px;
    box-sizing: border-box;
  padding: 5px;
  padding-top:5px;
  padding-left: 10px;
    }
    .places-cards {
        
        display: flex;
    
    }
    .places-cards>div{
        width: 250px;
        height: 390px;
        background-color: white;
        margin-left: 40px;
        margin-right: 40px;
        margin-top:-20px ;
    }
    .place{
        width: 250px;
        height: 200px;
    }
    .place:hover{
        width: 250px;
        height: 200px;
        opacity: 0.7;

    }
.first-card > p{
   color: rgb(0, 0, 0) !important;
   z-index: 10;
   position: relative;
   top: 20px;
   margin: 20px;
   margin-top: -8px;

}
.date{
    color: rgb(112, 112, 112) ;
    z-index: 10;
    position: relative;
    top: 20px;
    margin: 20px;
    margin-top: -8px;
}
button{
    width: 150px;
    height: 50px;
    background-color:black;
    color: white;
    margin: 15px;
    font-size: 16px;
    border: 0.3px solid transparent;
}
button:hover{
    width: 150px;
    height: 50px;
    background-color:rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    margin: 15px;
    font-size: 16px;
    border: 0.3px solid transparent;
}
.second-card > p{
    color: rgb(0, 0, 0) !important;
    z-index: 10;
    position: relative;
    top: 20px;
    margin: 20px;
    margin-top: -8px;
 
 }
 .third-card > p{
    color: rgb(0, 0, 0) !important;
    z-index: 10;
    position: relative;
    top: 20px;
    margin: 20px;
    margin-top: -8px;
 
 }
 .title-part{
     color: black;
     margin-left: 400px;
     font-size:50px;
     margin-top:100px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .title-part > i{
  color: grey;
  font-size:20px;
 
 }
 .form{
     display: flex;
 }
 .form-item{
     margin: 100px;
 }
 .text-info{
     display:inline-block;
     margin-top:20px;
 }
 input{
     width:200px;
     height:40px;
     box-sizing: border-box;
     padding: 10px;
     
 }
 .message-box{
     margin-top: 10px;
     display: block;
    width:400px !important;
 }
 
.send-button{
    margin-left: 250px !important;
}
.map{
    height: 500px;
    width: 1004px;
}
.logo{
    margin-left: 420px;
    margin-top: 40px;
    letter-spacing:5px;
    font-size:30px;
}
.link-part{
    letter-spacing:2px;
    font-size:20px;
    margin-left: 50px;
    margin-top:10px;
}
a{
    letter-spacing:2px;
    font-size:20px;
    margin-left: 50px;
    margin-top:10px;
    color: black;
    position: relative;
    top: -32px;
    left: 120px;
}